.header {
  display: none;
}

@media (width >= 1024px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.brandName {
  
}
